In [6]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [7]:
# Read in the data
df = pd.read_csv(Path('games-data.csv'))
df.head()

,name,platform,r-date,score,user score,developer,genre,players,critics,users
0,The Legend of Zelda: Ocarina of Time,Nintendo64,23-Nov-98,99,9.1,Nintendo,"Action Adventure,Fantasy",1 Player,22,5749
1,Tony Hawk's Pro Skater 2,PlayStation,20-Sep-00,98,7.4,NeversoftEntertainment,"Sports,Alternative,Skateboarding",2-Jan,19,647
2,Grand Theft Auto IV,PlayStation3,29-Apr-08,98,7.6,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,64,3806
3,SoulCalibur,Dreamcast,8-Sep-99,98,8.5,Namco,"Action,Fighting,3D",2-Jan,24,324
4,Grand Theft Auto IV,Xbox360,29-Apr-08,98,7.9,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",1 Player,86,3364

In [13]:
# Inspect data 
df.dtypes

name          object
platform      object
r-date        object
score          int64
user score    object
developer     object
genre         object
players       object
critics        int64
users          int64
dtype: object

In [16]:
# Check for null rows
df.isnull().sum()

name           0
platform       0
r-date         0
score          0
user score     0
developer      0
genre          0
players       22
critics        0
users          0
dtype: int64

In [20]:
# Get a count of unique values for developers
df.developer.value_counts()

Capcom                        298
TelltaleGames                 236
EASports                      195
Konami                        176
EACanada                      172
                             ...
LudicStudios                    1
AdelineSoftware                 1
Librage                         1
Wargaming.net,PershaStudia      1
GravityCorporation,Gravity      1
Name: developer, Length: 4253, dtype: int64

In [17]:
# Drop unneeded columns
df = df.drop(['name', 'players'], axis=1)
df.head()

,platform,r-date,score,user score,developer,genre,critics,users
0,Nintendo64,23-Nov-98,99,9.1,Nintendo,"Action Adventure,Fantasy",22,5749
1,PlayStation,20-Sep-00,98,7.4,NeversoftEntertainment,"Sports,Alternative,Skateboarding",19,647
2,PlayStation3,29-Apr-08,98,7.6,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",64,3806
3,Dreamcast,8-Sep-99,98,8.5,Namco,"Action,Fighting,3D",24,324
4,Xbox360,29-Apr-08,98,7.9,RockstarNorth,"Action Adventure,Modern,Modern,Open-World",86,3364

In [18]:
# Create a logistic Regression Model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

SyntaxError: invalid syntax (Temp/ipykernel_5604/390445131.py, line 3)